@model List<ManufacturingChips.Models.LineStatistics>

@{
    ViewData["Title"] = "Simulation Result";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Simulation Results</h1>

    @foreach (var line in Model)
    {
    <h2>Production Line @line.LineNumber</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Machine</th>
            <th>Utilization (%)</th>
            <th>Average Queue Time (min)</th>
            <th>Max Queue Length</th>
            <th>Processed Products</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var machine in line.MachineStats)
        {
        <tr>
            <td>@machine.MachineIndex</td>
            <td>@(machine.Utilization * 100):F2%</td>
            <td>@machine.AverageServiceQueueTime:F2</td>
            <td>@machine.MaxQueueLength</td>
            <td>@machine.ProcessedProducts</td>
        </tr>
        }
        </tbody>
    </table>
    }
</div>
</body>
</html>